charset-normalizer>=3.3.2
sortedcontainers>=2.4.0
python-chess>=1.999
pillow>=10.2.0
psutil>=5.9.8
polib>=1.2.0
deep-translator>=1.11.4
requests>=2.31.0
urllib3>=2.1.0
idna>=3.6
certifi>=2023.11.17
beautifulsoup4>=4.12.3
py-cpuinfo>=9.0.0
PySide6
duckdb>=1.0.0
numpy>=1.26.0
